<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des événements</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Liste des événements</h1>
    
    <table>
        <tr>
            <th>Intitulé</th>
        </tr>
        
        <tr th:each="even: ${evenements}">
            <td th:text="${even.getIntitule()}" />
        </tr>
    </table>

    <p><a href="/">ACCUEIL</a></p>
</body>
</html>
