<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des participants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Liste des participants</h1>
    
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        
        <tr th:each="part: ${participants}">
            <td th:text="${part.getNom()}" />
            <td th:text="${part.getPrenom()}" />
        </tr>
    </table>

    <p><a href="/">ACCUEIL</a></p>
</body>
</html>
