<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un participant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Ajouter un participant</h1>
    
    <form action="#" th:action="@{/appli/formpsave}" th:object="${participant}" method="post">
        <p>Participant :
            <label>Nom : <input type="text" th:field="*{nom}" /></label>
            <label>Prenom : <input type="text" th:field="*{prenom}" /></label>
        </p>    
    
        <label>Evenements :
            <select th:field="*{evenements}" multiple>
                <option th:each="evenement: ${allEvenements}" th:value="${evenement.getID()}" th:text="${evenement.intitule}"></option>
            </select>
        </label>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

    </form>
    
    <p><a href="/">ACCUEIL</a></p>

</body>
</html>
